body {
  overflow: hidden;
  max-height: 100%;
}

.container {
	width: 100%;
}

.title {
	display: block;
}

.description {
	font-size: 12px;
	display: block;
	opacity: 0.5;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

#narrative {
  margin-top: 15px;
}

#itineraries {
	overflow-y: auto;
	padding-right: 5px;
}

.bikeTriangleControl {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

  margin-bottom: 10px;
  text-align: center;
}

.bikeTriangleControl > div {
  width: 75%;
}

.map-container {
	border-left: 1px solid #aaa;
  padding: 0;
}

.map-container:before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 10;
  pointer-events: none;

  box-shadow: inset 20px 0 20px -20px rgba(0,0,0,0.35);
}

#sidebar {
	overflow-y: auto;
	overflow-x: hidden;
  padding: 10px;
}
