body {
  overflow: hidden;
  max-height: 100%;
}

.container {
	width: 100%;
}

.title {
	display: block;
}

.description {
	font-size: 12px;
	display: block;
	opacity: 0.5;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

#narrative {
  margin-top: 15px;
}

#itineraries {
	overflow-y: auto;
	padding-right: 5px;
}

.bikeTriangleControl {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

  margin-bottom: 10px;
  text-align: center;
}

.mode-md .bikeTriangleControl > div {
  width: 340px;
}

.mode-sm .bikeTriangleControl > div {
  width: 340px;
}

.mode-xs .bikeTriangleControl > div {
  width: 340px;
}

.well {
  padding: 10px;
}

.map-container {
	border-left: 1px solid #aaa;
  padding: 0;
}

#sidebar {
	overflow-y: auto;
	overflow-x: hidden;
  padding: 10px 20px;
}
