.otp-startFlagIcon {
	background: url('images/marker-flag-start-shadowed.png');
	width: 48px;
	height: 49px;
	margin-left: -44px;
	margin-top: -41px;
}

.otp-endFlagIcon {
	background: url('images/marker-flag-end-shadowed.png');
	width: 48px;
	height: 49px;
	margin-left: -44px;
	margin-top: -41px;
}